setuptools
pyside6==6.4.3
numpy==1.24.2
matplotlib==3.5.2
pandas==1.4.3
opencv-python==4.8.1.78
scipy==1.8.1
tiffslide==1.5.0
multiprocess==0.70.14
xgboost==1.7.4
scikit-learn==1.5.1
tqdm==4.66.3
paramiko==3.4.0
mysql-connector==2.2.9
natsort==8.2.0
requests==2.32.2

# Dependencies for feature pre-calculation:
tensorflow
stardist==0.9.1
fastdist==1.1.6
torch
torchvision